$color-1:#17252a;
$color-2:#2b7a78;
$color-3:#3aafa9;
$color-4:#def2f1;
$color-5:#feffff;

$color-1-rgb:rgb(23, 37, 42);
$color-2-rgb:rgb(43, 122, 120);
$color-3-rgb:rgb(58, 175, 169);
$color-4-rgb:rgb(222, 242, 241);
$color-5-rgb:rgb(254, 255, 255);