// $primary-color: #00bfe7;
// $secondary-color: #0c2b4b;
// $white-color: #ffffff;
// $heading-color: #111111;
// $para-color: #5C5C5C;
// $black-color: #000000;
// $heading-color-2: #323232;
// $normal-color: #1c1c1c;
// $background: #f5f5f5;
// $background-2: #f2f2f2;
// $border: #ebebeb;
// $border-1: #e1e1e1;

:root{
    --color-1:#5d7c4a;
    --head-0:#253b5c;
    --bg-3: rgba(235,239,245,0.6);
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
} 

// $color1: #e16145;
// $color2: #a1ca3a;
// $color3: #ffffff;


$color-1:#e16145;
$color-2:#0d1120; //#5d7c4a; 
$color-3:rgb(37, 59, 92);; 
$color-4:#0d1120; 
$color-5:#bebfc2;

$bg-0:#eff1fe;
$bg-1: #f0f3f2;
$bg-2:#0d1120;
$bg-3: rgba(235,239,245,0.6);
$bg-4: rgba(#539c24,0.09);

$head-0:rgb(37, 59, 92);
$head-1:#539c24;;
$head-2:#0d1120;
$head-3:#eee;

$text-0:#4f4e4e;  
$text-1:#888888;
$text-2:#494949;
$text-3:#9a9a9a;
$text-a:#aaa; 
$box-shadow: 0 8px 48px 0 rgba(0,0,0, 0.15);
$box1: 0 8px 48px 0 rgba(0,0,0, 0.15);
$box2:  1px 0px 20px rgba(0, 0, 0, 0.07);
$transition: .9s ease all;
$trans1: .9s ease all;

$fm-unna: 'Unna', serif;
$fm-nunito: 'Nunito Sans', sans-serif;
$fm-poppins: 'Poppins', sans-serif;


// h1:first-of-type {
//     font-weight: var(--weight1);
//     color: var(--varyDarkBlue);

// }

// h1:last-of-type {
//     color: var(--varyDarkBlue);
// }