#nav{
    position: relative;
    .nav-middle{
        width: 86%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 15px 20px 35px;
        .logo{
            // img{width:150px}
        }
        .menus{
            width: 70%;
            .col-4{
                
                
                .inner-r{
                display: flex;
                .icon{
                    margin-right: 10px;
                    .fa{font-size: 20px;color: $color-2}
                }
                .content-r{
                    h6{margin-bottom: 5px;font-weight: 700;color:$color-2}
                    p{margin-bottom: 0;line-height: 15px;font-size: 14px;color:$color-3}
                }
              } 
            }
           
        }
        .flag{display: none;}
    }//end middle

@media screen and (max-width: 1190px){ 
   
    .nav-middle{
        width: 86%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 15px 20px 35px;
        .logo{
            img{width:150px}
        }
        .menus{
            width: 70%;
            .col-4{
                
               
                .inner-r{
                display: flex;
                .icon{
                    margin-right: 10px;
                    .fa{font-size: 20px;color: $color-2}
                }
                .content-r{
                    h6{margin-bottom: 5px;font-weight: 700;color:$color-2}
                    p{margin-bottom: 0;line-height: 15px;font-size: 14px;color:$color-3}
                }
              } 
                // .row{}
               &.c{
                  display: none 
                } 
                &.b{
                  min-width: 50% 
                }
                &.a{
                  min-width: 50% 
                }
            }
           
        }
    }//end middle
  
 }//end
    
        .navbar.main{
            position: absolute;
            width: 85%;
            margin: auto;
            background: $color-3;
            z-index: 90;
            left: 50%;
        bottom: -27px;
            transform: translatex(-50%);
            
            .logo-sticky{
                width:0px;
                display: none
            }
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        color:#eee;
                        font-weight:700 ;
                        font-size: 15px;
                        &:hover{
                            transition: .9s ease all;
                            color: lighten($color-1,5%);
                            // color:rgba($color-2,.6)
                        }
                    }
                    .dropdown-menu{
                        padding: 0;
                        .dropdown-item{
                        padding: 3px 7px; 
                            &:hover{
                            background: $color-3;
                            color:#eee    
                            }
                        
                        }
                    }
                }
            }
        }//navbar.main
    
}//#nav


#navbar {
    border-bottom: 2px solid #eee;
    z-index: 1000;
    background-color: #fff;
    position: fixed; /* Make it stick/fixed */
    top: -350px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */

    .navbar-brand{
        // img{width: 150px}
    }
}

/* Style the navbar links */
#navbar a {
    float: left;
    display: block;
    color: $color-2;font-weight: 700;
    // text-align: center;
    // padding: 15px;
    text-decoration: none;
    // padding: 0;
}

#navbar a:hover {
    // background-color: #ddd;
    // color: black;
    color:$color-3
}

@media screen and (max-width: 765px){ 
    #nav{
       .nav-middle{
        border-bottom: 2px solid #aaa;
        width: 100%;
        // margin: auto;
        // display: flex;
        // justify-content: space-between;
        padding: 5px 10px 5px;
        .menus,.logo{ display: none;}
        .flag{display: block;}
      } 
        
        .navbar.navbar-expand-md.main{
            display: none  
        }
    }
    #navbar {
        a{width:100%}
         position: static; /* Make it stick/fixed */
          top: 0px;
          // transition:none;
         &.navbar{padding: 0;
             .nav-bar-wrap{
                 // border-bottom: 2px solid #eee;
                 width: 100%;
                display: flex;
                 padding: 5px 10px;
                 justify-content: space-between
             }
        }
       .navbar-brand img{margin-bottom: 0}
        .navbar-toggler{
           //
            .fa{font-size: 30px;
                 color: $color-3 
            }
               
        }
        
        .navbar-collapse.collapse.show{
           border-top: 2px solid #eee;
            ul{
                li{
                    border-bottom: 1px solid #d9dce0;;
                    padding: 0 15px;
                    &:hover{
                        background: #eee;
                    }
                    
                    a{
                        
                    }
                    .dropdown-menu.show{
                        .dropdown-item{
                            padding: 0 0 5px 10px;
                            // padding-left: 10px;
                            font-size: 13px
                        }
                    }
                }
            }
            .dropdown-menu{
                border: none;
                 background:transparent
            }
        }
        
        
        
        
      }
  
 }//end