                       
.mobile-navbar{
    position: relative;
    top: -30px;
    left: -60px;
    z-index: 25;
}
.demo
{
	padding: 100px 0;
}
.heading-title
{
	margin-bottom: 100px;
}
.mobile-navbar .nav-toggle{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
}

.mobile-navbar .nav-toggle:checked + .navigation > div{
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.mobile-navbar .nav-toggle:checked + .navigation > div:before,
.mobile-navbar .nav-toggle:checked + .navigation > div:after{
    top: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.mobile-navbar .nav-toggle:checked + .navigation > div:after{
    opacity: 0;
}

.mobile-navbar .nav-toggle:checked ~ .menu{
    pointer-events: auto;
    visibility: visible;
}

.mobile-navbar .nav-toggle:checked ~ .menu > div{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-duration: .75s;
    transition-duration: .75s;
}

.mobile-navbar .nav-toggle:checked ~ .menu > div > div{
    opacity: 1;
    -webkit-transition: opacity 0.4s ease 0.4s;
    transition: opacity 0.4s ease 0.4s;
}

.mobile-navbar .nav-toggle:hover + .navigation{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.mobile-navbar .nav-toggle:checked:hover + .navigation > div{
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

.mobile-navbar .navigation{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    padding: .5em .3em;
    background: rgba(211, 95, 153, 0.75);
    border-radius: 0 0.12em 0.12em 0;
    cursor: pointer;
    -webkit-transition: box-shadow 0.4s ease;
    transition: box-shadow 0.4s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mobile-navbar .navigation > div{
    width: 100%;
    height: 2px;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    background: #fefefe;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mobile-navbar .navigation > div:before,
.mobile-navbar .navigation > div:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: inherit;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.mobile-navbar .navigation > div:after{
    top: 10px;
}

.mobile-navbar .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mobile-navbar .menu > div{
    width: 200vw;
    height: 200vw;
    color: #fefefe;
    background: rgba(154, 45, 100, 0.97);
    border-radius: 50%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mobile-navbar .menu > div > div{
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;

    opacity: 0;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    overflow-y: auto;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mobile-navbar .menu > div > div > ul{
    list-style: none;
    padding: 0 1em;
    margin: 0;
    display: block;
    max-height: 100vh;
}

.mobile-navbar .menu > div > div > ul > li{
    padding: 0;
    margin: 1em;
    font-size: 24px;
    display: block;
}

.mobile-navbar .menu > div > div > ul > li > a{
    position: relative;
    display: inline;
    color: #fff;
    cursor: pointer;
    -webkit-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

.mobile-navbar .menu > div > div > ul > li > a:hover{
    color: #e5e5e5;
}

.mobile-navbar .menu > div > div > ul > li > a:hover:after{
    width: 100%;
}

.mobile-navbar .menu > div > div > ul > li > a:after{
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -0.15em;
    left: 0;
    width: 0;
    height: 2px;
    background: #e5e5e5;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
}