@import "../generics/colors";

.container-fluid{
  padding: 0;
  .nav-top{
    //background-color: #f4f4f4;
    background-color: $color-2;
    width:100%;
    padding-right:20px;
    border-bottom: 1px solid rgba(178, 178, 178, 0.5);

    .tran{
      .goog-te-gadget {line-height: 2px !important;color: transparent;}
      #google_translate_element .goog-logo-link, .goog-logo-link:link{display:none}
    } 
     
    .phone{
      margin:0 20px;
      color: $color-4;
    }
    .nav-social{
      display: inline;
      a{
        padding: 2px 8px;
      }
      .socials{
        //color: #3e3b3d;
        color: $color-4;
        transition: all .7s ease;
         &:hover{
          color: $color-5;;
         }
      }
      // .facebook:hover{color: #3b5998;}
      // .instagram:hover{color: #3f729b;}
      // .youtube:hover{color: #c4302b;}
      // .twitter:hover{color: #38a1f3;}
      // .linkedin:hover{color: #0077b5;}
    }
  }
}

/*-------------nav---------------------------*/
#navbar{
    .navbar{
        clear: both; background:rgb(255,255,255);
        border-bottom: 1px solid #eee;
        padding:0!important;
        .nav-link{
          padding-left: 20px;
          color: $color-1;
          text-transform: uppercase;
          font-weight: bolder;
          font-family: 'Poppins', sans-serif;
            &:hover{
              color: $color-2;
            }
        }
        .active{
          a{
            color: $color-2;
          
          }
        }

    //.active a{color:#000;}
    .navbar-brand{
      padding:0!important;
      span{
        font-size: 30px;
      }
    }
  }
}

// =================================================================================
//                          media queries
// =================================================================================


@media screen and (min-width: 1277px) and (max-width: 5000px) {

}
@media screen and (max-width: 1277px) {
  
}
@media screen and (max-width: 1124px) {

}
@media screen and (max-width: 1007px) {

}
@media screen and (max-width: 991px) {

}
@media screen and (max-width: 871px) {

}
@media screen and (max-width: 832px){

}
@media screen and (max-width: 796px) {

}
@media screen and (max-width: 777px) {

}
    
@media screen and (max-width: 740px) {

}
@media (max-width: 740px) {

}
@media (max-width: 576px) {
  
}
@media (max-width: 520px) {
  .phone{
     display: none;
  }
}
@media (max-width: 480px) {


}
@media screen and (max-width: 498px) and (min-width: 300px)  {

}
@media screen and (max-width: 300px){
  .our-services{
    padding: 2rem 0!important;
  }
}








