
/*--------------------------------------------------------------
# Blog Details
--------------------------------------------------------------*/
.news-details {
    position: relative;
    display: block;
    padding: 120px 0 120px;
  }
  
  .news-details__left {
    position: relative;
    display: block;
  }
  
  .news-details__img {
    position: relative;
    display: block;
    border-radius: var(--insur-bdr-radius);
  }
  
  .news-details__img img {
    width: 100%;
    border-radius: var(--insur-bdr-radius);
  }
  
  .news-details__content {
    position: relative;
    display: block;
    margin-top: 24px;
  }
  
  .news-details__meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .news-details__meta li+li {
    margin-left: 15px;
  }
  
  .news-details__meta li a {
    font-size: 14px;
    color: var(--insur-gray);
    font-weight: 500;
    letter-spacing: var(--insur-letter-spacing);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .news-details__meta li a:hover {
    color: var(--insur-base);
  }
  
  .news-details__meta li a i {
    color: var(--insur-base);
  }
  
  .news-details__title {
    font-size: 34px;
    line-height: 44px;
    margin-bottom: 12px;
    margin-top: 4px;
    font-weight: 700;
    letter-spacing: var(--insur-letter-spacing);
  }
  
  .news-details__text-1 {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: var(--insur-letter-spacing);
  }
  
  .news-details__text-2 {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: var(--insur-letter-spacing);
    padding-top: 31px;
  }
  
  .news-details__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 30px 0 30px;
    margin-top: 56px;
    border-top: 1px solid var(--insur-bdr-color);
  }
  
  .news-details__bottom p {
    margin: 0;
  }
  
  .news-details__tags span {
    color: var(--insur-black);
    font-size: 20px;
    margin-right: 15px;
    font-weight: 700;
    letter-spacing: var(--insur-letter-spacing);
  }
  
  .news-details__tags a {
    position: relative;
    color: var(--insur-gray);
    font-size: 14px;
    background-color: var(--insur-extra);
    display: inline-block;
    padding: 7px 20px 7px;
    font-weight: 500;
    letter-spacing: var(--insur-letter-spacing);
    border-radius: var(--insur-bdr-radius);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .news-details__tags a:hover {
    background-color: var(--insur-base);
    color: var(--insur-white);
  }
  
  .news-details__tags a+a {
    margin-left: 6px;
  }
  
  .news-details__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .news-details__social-list a {
    position: relative;
    height: 43px;
    width: 43px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    color: var(--insur-base);
    font-size: 15px;
    border-radius: 17px;
    border: 2px solid var(--insur-base);
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1;
  }
  
  .news-details__social-list a:hover {
    color: var(--insur-white);
  }
  
  .news-details__social-list a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: var(--insur-base);
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transition-property: all;
    transition-property: all;
    opacity: 1;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    z-index: -1;
  }
  
  .news-details__social-list a:hover:after {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  
  .news-details__social-list a+a {
    margin-left: 10px;
  }
  
  .blgo-details__pagenation-box {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 53px;
  }
  
  .news-details__pagenation {
    position: relative;
    display: block;
  }
  
  .news-details__pagenation li {
    position: relative;
    float: left;
    font-size: 20px;
    color: var(--insur-black);
    font-weight: 700;
    background-color: var(--insur-extra);
    line-height: 34px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    max-width: 370px;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: var(--insur-bdr-radius);
  }
  
  .news-details__pagenation li+li {
    margin-left: 30px;
  }
  
  .news-details__pagenation li:hover {
    background-color: var(--insur-base);
    color: var(--insur-white);
  }