/*--------------------------------------------------------------
# Brand One
--------------------------------------------------------------*/
.brand-one {
  position: relative;
  display: block;
  border-top: 1px solid var(--insur-bdr-color);
  padding: 59px 0 60px;
  z-index: 1;
}

.brand-one__title {
  position: relative;
  display: block;
  margin-right: 60px;
  margin-top: 9px;
}

.brand-one__title h2 {
  font-size: 16px;
  color: var(--insur-black);
  font-weight: 700;
  line-height: 28px;
  letter-spacing: var(--insur-letter-spacing);
}

.brand-one__main-content {
  position: relative;
  display: block;
}

.brand-one__main-content .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.brand-one__main-content .swiper-slide img {
  -webkit-transition: 500ms;
  transition: 500ms;
  opacity: .30;
}

.brand-one__main-content .swiper-slide img:hover {
  opacity: 1;
}
