/*--------------------------------------------------------------
# CTA Three
--------------------------------------------------------------*/
.cta-three {
    padding: 0 0 0;
  }
  
  /*--------------------------------------------------------------
  # CTA Four
  --------------------------------------------------------------*/
  .cta-four {
    padding: 120px 0 120px;
    background-color: var(--insur-white);
    overflow: hidden;
  }
  
  .cta-four-shape-1 {
    position: absolute;
    top: -90px;
    right: -29px;
    mix-blend-mode: luminosity;
  }
  
  .cta-four-shape-1 img {
    width: auto;
    mix-blend-mode: luminosity;
    opacity: .15;
    ;
  }