/*--------------------------------------------------------------
# Insurance Page One
--------------------------------------------------------------*/
.insurance-page-one {
    position: relative;
    display: block;
    padding: 120px 0 90px;
  }
  
  /*--------------------------------------------------------------
  # Insurance Page Two
  --------------------------------------------------------------*/
  .insurance-page-two {
    position: relative;
    display: block;
    padding: 120px 0 90px;
  }
  
  .insurance-page-two .services-two__single {
    background-color: transparent;
    border-radius: var(--insur-bdr-radius);
    border: 1px solid var(--insur-bdr-color);
  }
  
  .insurance-page-two .services-two__single:hover {
    border: 1px solid transparent;
    border-bottom: 3px solid var(--insur-primary);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.07), inset 0px -3px 0px 0px rgba(12, 224, 255, 0.004);
  }
  
  .insurance-page-two .services-two__icon {
    background-color: var(--insur-extra);
  }
  
  .insurance-page-two .services-two__icon-box:before {
    background-color: var(--insur-extra);
  }
  
  .insurance-page-two .services-two__single:hover .services-two__icon-box:before {
    background-color: var(--insur-extra);
  }
  
  .insurance-page-two .services-two__title a {
    color: var(--insur-black);
  }