/*--------------------------------------------------------------
# News One
--------------------------------------------------------------*/
.news-one {
  position: relative;
  display: block;
  padding: 120px 0 90px;
}

.news-one .section-sub-title-box {
  margin-left: 0;
}

.news-one__single {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.news-one__img {
  position: relative;
  display: block;
  overflow: hidden;
  border-top-left-radius: var(--insur-bdr-radius);
  border-top-right-radius: var(--insur-bdr-radius);
  z-index: 1;
}

.news-one__img:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-left-radius: var(--insur-bdr-radius);
  border-top-right-radius: var(--insur-bdr-radius);
  background-color: rgba(var(--insur-black-rgb), .50);
  -webkit-transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
  transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease, -webkit-transform 500ms ease;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-70%);
  transform: translateY(-70%);
  z-index: 1;
}

.news-one__single:hover .news-one__img:before {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}

.news-one__img img {
  width: 100%;
  border-top-left-radius: var(--insur-bdr-radius);
  border-top-right-radius: var(--insur-bdr-radius);
  transition: all 500ms ease;
}

.news-one__single:hover .news-one__img img {
  transform: scale(1.05);
}

.news-one__tag {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--insur-base);
  padding: 14px 20px;
  border-top-left-radius: var(--insur-bdr-radius);
  z-index: 2;
}

.news-one__tag p {
  font-size: 12px;
  color: var(--insur-white);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 12px;
}

.news-one__tag p i {
  font-size: 12px;
  padding-right: 3px;
}

.news-one__arrow-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.news-one__arrow {
  height: 50px;
  width: 50px;
  border: 2px solid var(--insur-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--insur-white);
  font-size: 15px;
  opacity: 0;
  transform: translateY(70px);
  transition: all 500ms ease;
}

.news-one__single:hover .news-one__arrow {
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 500ms;
}

.news-one__arrow:hover {
  border: 2px solid var(--insur-primary);
  color: var(--insur-primary);
}

.news-one__content {
  position: relative;
  display: block;
  border-bottom-left-radius: var(--insur-bdr-radius);
  border-bottom-right-radius: var(--insur-bdr-radius);
  border: 1px solid var(--insur-bdr-color);
  border-top: 0;
  padding: 25px 38px 32px;
  transition: all 500ms ease;
}

.news-one__single:hover .news-one__content {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
}

.news-one__meta {
  position: relative;
  display: flex;
  align-items: center;
}

.news-one__meta li+li {
  margin-left: 10px;
}

.news-one__meta li a {
  font-size: 14px;
  color: var(--insur-gray);
  font-weight: 500;
  letter-spacing: var(--insur-letter-spacing);
  transition: all 500ms ease;
}

.news-one__meta li a:hover {
  color: var(--insur-base);
}

.news-one__meta li a i {
  font-size: 15px;
  color: var(--insur-base);
  padding-right: 2px;
}

.news-one__title {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: var(--insur-letter-spacing);
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 15px;
}

.news-one__title a {
  color: var(--insur-black);
  transition: all 500ms ease;
}

.news-one__single:hover .news-one__title a {
  color: var(--insur-base);
}

.news-one__text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: var(--insur-letter-spacing);
}

.news-one__read-more {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 11px;
}

.news-one__read-more a {
  font-size: 15px;
  color: var(--insur-black);
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: all 500ms ease;
}

.news-one__read-more a i {
  font-size: 13px;
  position: relative;
  padding-left: 5px;
  top: 2px;
}

.news-one__single:hover .news-one__read-more a {
  color: var(--insur-primary);
}