
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio {
    position: relative;
    display: block;
    padding: 114px 0 90px;
  }
  
  .portfolio-filter {
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 26px;
  }
  
  .portfolio-filter.style1 li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .portfolio-filter.style1 li .filter-text {
    position: relative;
    display: inline-block;
    color: var(--insur-gray);
    font-size: 18px;
    font-weight: 500;
    display: block;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  
  .portfolio-filter.style1 li .filter-text:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    content: "";
    background: var(--insur-base);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 0;
    transform: scale(0);
  }
  
  .portfolio-filter.style1 li .filter-text:hover:before,
  .portfolio-filter.style1 li.active .filter-text:before {
    transform: scale(1.0);
  }
  
  .portfolio-filter.style1 li:hover .filter-text,
  .portfolio-filter.style1 li.active .filter-text {
    color: var(--insur-black);
  }
  
  .portfolio-filter.style1 li .count {
    color: var(--insur-black);
    font-size: 12px;
    line-height: 26px;
    font-weight: 500;
    display: inline-block;
    padding: 0 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    position: relative;
    top: -4px;
  }
  
  .portfolio-filter.style1 li:hover .count,
  .portfolio-filter.style1 li.active .count {
    color: var(--insur-black);
    opacity: 1;
  }
  
  .portfolio-filter.style1 li+li {
    margin-left: 30px;
  }
  
  .portfolio__single {
    position: relative;
    display: block;
    margin-bottom: 30px;
  }
  
  .portfolio__img {
    position: relative;
    display: block;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
  }
  
  .portfolio__img:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    border-radius: 20px;
    background-image: -moz-linear-gradient(90deg, rgb(17, 29, 50) 0%, rgba(17, 29, 50, 0) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(17, 29, 50) 0%, rgba(17, 29, 50, 0) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(17, 29, 50) 0%, rgba(17, 29, 50, 0) 100%);
    transform: scale(1, 0);
    transition: transform 500ms ease;
    transform-origin: top center;
    z-index: 1;
  }
  
  .portfolio__single:hover .portfolio__img:before {
    transform: scale(1, 1);
    transform-origin: bottom center;
  }
  
  .portfolio__img img {
    width: 100%;
    border-radius: 20px;
  }
  
  .portfolio__plus {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    background-color: var(--insur-primary);
    border-radius: var(--insur-bdr-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 2;
  }
  
  .portfolio__single:hover .portfolio__plus {
    transform: scale(1);
    transition-delay: 500ms;
  }
  
  .portfolio__plus a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: var(--insur-white);
  }
  
  .portfolio__content {
    position: absolute;
    bottom: 38px;
    left: 40px;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 2;
  }
  
  .portfolio__single:hover .portfolio__content {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
  
  .portfolio__sub-title {
    font-size: 14px;
    color: var(--insur-white);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 24px;
    opacity: .6;
  }
  
  .portfolio__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: var(--insur-letter-spacing);
  }
  
  .portfolio__title a {
    color: var(--insur-white);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .portfolio__title a:hover {
    color: var(--insur-primary);
  }
  
  /*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
  .portfolio-details {
    position: relative;
    display: block;
    padding: 120px 0 120px;
  }
  
  .portfolio-details__img {
    position: relative;
    display: block;
    border-radius: 20px;
  }
  
  .portfolio-details__img img {
    width: 100%;
    border-radius: 20px;
  }
  
  .portfolio-details__content {
    position: relative;
    display: block;
    padding-top: 50px;
  }
  
  .portfolio-details__content-left {
    position: relative;
    display: block;
    margin-top: -4px;
  }
  
  .portfolio-details__title {
    font-size: 34px;
    font-weight: 700;
    letter-spacing: var(--insur-letter-spacing);
    line-height: 34px;
    margin-bottom: 24px;
  }
  
  .portfolio-details__text-1 {
    font-size: 18px;
    line-height: 34px;
    letter-spacing: var(--insur-letter-spacing);
    padding-bottom: 34px;
  }
  
  .portfolio-details__text-2 {
    font-size: 18px;
    line-height: 34px;
    letter-spacing: var(--insur-letter-spacing);
  }
  
  .portfolio-details__content-right {
    position: relative;
    display: block;
  }
  
  .portfolio-details__details-box {
    position: relative;
    border-radius: var(--insur-bdr-radius);
    background-color: var(--insur-extra);
    padding: 42px 50px 50px;
  }
  
  .portfolio-details__details-list {
    position: relative;
    display: block;
  }
  
  .portfolio-details__details-list li {
    position: relative;
    display: block;
  }
  
  .portfolio-details__details-list li+li {
    margin-top: 32px;
  }
  
  .portfolio-details__client {
    font-size: 18px;
    color: var(--insur-black);
    font-weight: 700;
    line-height: 30px;
    letter-spacing: var(--insur-letter-spacing);
  }
  
  .portfolio-details__name {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: var(--insur-letter-spacing);
  }
  
  .portfolio-details__social {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 9px;
  }
  
  .portfolio-details__social a {
    position: relative;
    height: 43px;
    width: 43px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    color: var(--insur-base);
    font-size: 15px;
    border-radius: 17px;
    border: 2px solid var(--insur-base);
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1;
  }
  
  .portfolio-details__social a:hover {
    background-color: var(--insur-base);
    color: var(--insur-white);
  }
  
  .portfolio-details__social a+a {
    margin-left: 10px;
  }
  
  .projectc-details__pagination-box {
    position: relative;
    display: block;
    text-align: center;
    border-top: 1px solid var(--insur-bdr-color);
    border-bottom: 1px solid var(--insur-bdr-color);
    padding: 30px 0;
    margin-top: 109px;
  }
  
  .projectc-details__pagination {
    position: relative;
    display: block;
  }
  
  .projectc-details__pagination li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .projectc-details__pagination li.next {
    float: left;
    position: relative;
  }
  
  .projectc-details__pagination li a {
    font-size: 14px;
    color: var(--insur-gray);
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .projectc-details__pagination li a:hover {
    color: var(--insur-base);
  }
  
  .projectc-details__pagination li p {
    color: var(--insur-black);
    font-weight: 700;
    line-height: 18px;
    letter-spacing: var(--insur-letter-spacing);
    margin-top: 3px;
  }
  
  .projectc-details__pagination li span {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: var(--insur-letter-spacing);
  }
  
  .projectc-details__pagination li.next i {
    position: relative;
    height: 50px;
    width: 50px;
    border: 2px solid rgba(var(--insur-black-rgb), .20);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    color: rgba(var(--insur-black-rgb), .20);
    font-size: 17px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    margin-right: 20px;
    z-index: 1;
  }
  
  .projectc-details__pagination li.previous {
    position: relative;
    float: right;
  }
  
  .projectc-details__pagination li.previous i {
    position: relative;
    height: 50px;
    width: 50px;
    border: 2px solid rgba(var(--insur-black-rgb), .20);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    color: rgba(var(--insur-black-rgb), .20);
    font-size: 17px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    margin-left: 20px;
    z-index: 1;
  }
  
  .projectc-details__pagination li a:hover i {
    color: rgba(var(--insur-black-rgb), 1);
    border: 2px solid rgba(var(--insur-black-rgb), 1);
  }
  
  .projectc-details__pagination li .content {
    position: relative;
    display: block;
    top: -3px;
  }
  
  .projectc-details__pagination li.next .content {
    text-align: left;
  }
  
  .projectc-details__pagination li.previous .content {
    text-align: right;
  }
  
  /*--------------------------------------------------------------
  # Similar Portfolio
  --------------------------------------------------------------*/
  .similar-portfolio {
    position: relative;
    display: block;
    padding: 0 0 90px;
  }
  
  .similar-portfolio .section-sub-title-box {
    margin-left: 0;
  }
  
  /*--------------------------------------------------------------
  # Portfolio Carousel
  --------------------------------------------------------------*/
  .portfolio-carousel-page {
    position: relative;
    display: block;
    padding: 120px 0 133px;
  }
  