
/*--------------------------------------------------------------
# Services One
--------------------------------------------------------------*/
.services-one {
  position: relative;
  display: block;
  background-color: var(--insur-extra);
  padding: 120px 0 90px;
}

.services-one__top {
  position: relative;
  display: block;
}

.services-one__top-left {
  position: relative;
  display: block;
}

.services-one__top-right {
  position: relative;
  display: block;
  margin-left: 170px;
  margin-top: 16px;
}

.services-one__top-text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: var(--insur-letter-spacing);
}

.services-one__bottom {
  position: relative;
  display: block;
}

.services-one__container {
  position: relative;
  display: block;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.services-one__single {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.service-one__img {
  position: relative;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  z-index: 1;
}

.service-one__img:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: rgba(var(--insur-black-rgb), .30);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 500ms ease;
  transform: translate3d(0px, -100%, 0px);
  z-index: 1;
}

.services-one__single:hover .service-one__img:before {
  transform: translate3d(0px, 0, 0px);
}

.service-one__img img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.services-one__single:hover .service-one__img img {
  transform: scale(1.05);
}

.service-one__content {
  position: relative;
  display: block;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.07);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 27px 0px 8px;
}

.services-one__icon {
  position: absolute;
  top: -40px;
  right: 20px;
  height: 60px;
  width: 60px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
  border-radius: var(--insur-bdr-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 3;
}

.services-one__single:hover .services-one__icon {
  background-color: var(--insur-base);
}

.services-one__icon span {
  position: relative;
  display: inline-block;
  font-size: 36px;
  color: var(--insur-base);
  transition: all 500ms linear;
  transition-delay: 0.1s;
  transform: scale(1);
}

.services-one__single:hover .services-one__icon span {
  color: var(--insur-white);
  transform: scale(0.9);
}

.service-one__title {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: var(--insur-letter-spacing);
  margin-bottom: 5px;
}

.service-one__title:before {
  position: absolute;
  content: "";
  left: 0;
  top: -16px;
  height: 4px;
  width: 40px;
  background-image: -moz-linear-gradient(0deg, rgb(1, 95, 201) 0%, rgb(12, 224, 255) 100%);
  background-image: -webkit-linear-gradient(0deg, rgb(1, 95, 201) 0%, rgb(12, 224, 255) 100%);
  background-image: -ms-linear-gradient(0deg, rgb(1, 95, 201) 0%, rgb(12, 224, 255) 100%);
}

.service-one__title a {
  color: var(--insur-black);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.services-one__single:hover .service-one__title a {
  color: var(--insur-base);
}

.service-one__text {
  font-size: 14px;
  letter-spacing: var(--insur-letter-spacing);
  line-height: 24px;
}