
/*--------------------------------------------------------------
# Services Two
--------------------------------------------------------------*/
.services-two {
  position: relative;
  display: block;
  background-color: var(--insur-black);
  padding: 120px 0 90px;
  z-index: 1;
}

.services-two-shape-1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: center;
  opacity: 0.02;
  z-index: -1;
}

.services-two__top {
  position: relative;
  display: block;
}

.services-two__top-left {
  position: relative;
  display: block;
}

.services-two__top-left .section-sub-title {
  color: #97a2b7;
}

.services-two__top-left .section-title__title {
  color: var(--insur-white);
}

.services-two__top-right {
  position: relative;
  display: block;
  margin-left: 70px;
  margin-top: 14px;
}

.services-two__top-text {
  font-size: 18px;
  color: #97a2b7;
  line-height: 30px;
  letter-spacing: var(--insur-letter-spacing);
}

.services-two__bottom {
  position: relative;
  display: block;
}

.services-two__single {
  position: relative;
  display: block;
  background-color: #1c2a44;
  border-radius: var(--insur-bdr-radius);
  text-align: center;
  padding: 40px 35px 33px;
  border-bottom: 3px solid transparent;
  margin-bottom: 30px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.services-two__single:hover {
  border-bottom: 3px solid var(--insur-primary);
  transform: translateY(-10px);
  background-color: #111d32;
}

.services-two__icon-box {
  position: relative;
  display: block;
}

.services-two__icon-box:before {
  position: absolute;
  content: "";
  bottom: -9px;
  left: 50%;
  height: 4px;
  width: 40px;
  background-color: #111d32;
  transform: translateX(-50%);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.services-two__single:hover .services-two__icon-box:before {
  background-color: #070e1b;
}

.services-two__icon {
  position: relative;
  height: 85px;
  width: 85px;
  background-color: #111d32;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 1;
}

.services-two__icon:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  content: "";
  background-image: -moz-linear-gradient(0deg, rgb(1, 95, 201) 0%, rgb(12, 224, 255) 100%);
  background-image: -webkit-linear-gradient(0deg, rgb(1, 95, 201) 0%, rgb(12, 224, 255) 100%);
  background-image: -ms-linear-gradient(0deg, rgb(1, 95, 201) 0%, rgb(12, 224, 255) 100%);
  border-radius: 50%;
  background-color: var(--insur-white);
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  -webkit-transition-property: all;
  transition-property: all;
  opacity: 1;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  z-index: -1;
}

.services-two__single:hover .services-two__icon:after {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.services-two__icon span {
  position: relative;
  display: inline-block;
  font-size: 36px;
  background: rgb(1, 97, 202);
  background: linear-gradient(90deg, rgba(1, 97, 202, 1) 41%, rgba(12, 222, 254, 1) 67%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.services-two__single:hover .services-two__icon span {
  -webkit-text-fill-color: var(--insur-white);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.services-two__title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: var(--insur-letter-spacing);
  line-height: 30px;
  margin-top: 26px;
  margin-bottom: 5px;
}

.services-two__title a {
  color: var(--insur-white);
}

.services-two__text {
  font-size: 14px;
  color: #97a2b7;
  line-height: 24px;
  letter-spacing: var(--insur-letter-spacing);
}
