/*--------------------------------------------------------------
# Team One
--------------------------------------------------------------*/
.team-one {
  position: relative;
  display: block;
  padding: 120px 0 120px;
  overflow: hidden;
}

.team-one__shape-1 {
  position: absolute;
  top: -90px;
  right: 0;
  mix-blend-mode: luminosity;
}

.team-one__shape-1 img {
  width: auto;
  mix-blend-mode: luminosity;
  opacity: .15;
  z-index: -1;
}

.team-one .container {
  max-width: 1070px;
}

.team-one .row {
  --bs-gutter-x: 108px;
}

.team-one .section-title {
  margin-bottom: 63px;
}

.team-one .section-sub-title-box {
  margin-left: 0;
}

.team-one__single {
  position: relative;
  display: block;
  margin-bottom: 23px;
}

.team-one__img {
  position: relative;
  display: block;
  border-radius: 20px;
  z-index: 1;
}

.team-one__img:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  border-radius: 20px;
  border: 2px dashed var(--insur-bdr-color);
  transform: rotate(-7deg);
  transition: all 500ms ease;
  z-index: -1;
}

.team-one__single:hover .team-one__img:after {
  border: 2px dashed var(--insur-primary);
}

.team-one__img-box {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 20px;
  z-index: 1;
}

.team-one__img-box:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  border-radius: 20px;
  background-color: rgba(var(--insur-black-rgb), .50);
  -webkit-transform: perspective(400px) rotateX(90deg) scaleY(0.5);
  -ms-transform: perspective(400px) rotateX(90deg) scaleY(0.5);
  transform: perspective(400px) rotateX(90deg) scaleY(0.5);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  transition-delay: .1s;
  transition-timing-function: ease-in-out;
  transition-duration: .5s;
  transition-property: all;
  z-index: 1;
}

.team-one__single:hover .team-one__img-box:before {
  -webkit-transform: perspective(400px) rotateX(0deg) scaleY(1.0);
  -ms-transform: perspective(400px) rotateX(0deg) scaleY(1.0);
  transform: perspective(400px) rotateX(0deg) scaleY(1.0);
  transition-delay: .1s;
  transition-timing-function: ease-in-out;
  transition-duration: .7s;
  transition-property: all;
}

.team-one__img-box img {
  width: 100%;
  border-radius: 20px;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: all 500ms ease;
}

.team-one__single:hover .team-one__img-box img {
  transform: scale(1.05);
}

.team-one__social {
  position: absolute;
  right: 20px;
  bottom: 25px;
  background-color: var(--insur-base);
  text-align: center;
  padding: 20px 17.5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: scaleY(0.0);
  transform-origin: center;
  transform-style: preserve-3d;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  transform-origin: bottom center;
  z-index: 2;
}

.team-one__single:hover .team-one__social {
  transform: scaleY(1.0);
  -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -ms-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms;
}

.team-one__social li+li {
  margin-top: 25px;
}

.team-one__social li a {
  font-size: 15px;
  color: var(--insur-white);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.team-one__social li a:hover {
  color: var(--insur-primary);
}


.team-one__content {
  position: relative;
  display: block;
  padding-top: 28px;
}

.team-one__sub-title {
  font-size: 14px;
  color: var(--insur-base);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
}

.team-one__name {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: var(--insur-letter-spacing);
  line-height: 30px;
}

.team-one__name a {
  color: var(--insur-black);
  transition: all 500ms ease;
}

.team-one__name a:hover {
  color: var(--insur-base);
}

.team-one__social-two {
  position: absolute;
  right: 20px;
  top: -25px;
  background-color: var(--insur-primary);
  padding: 17.5px 18.4px;
  border-radius: 10px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 2;
}

.team-one__single:hover .team-one__social-two {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: var(--insur-base);
  -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -ms-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms;
}

.team-one__social-two li a {
  font-size: 15px;
  color: var(--insur-white);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.team-one__social-two li a:hover {
  color: var(--insur-primary);
}

.team-one__bottom {
  position: relative;
  display: block;
  text-align: center;
  max-width: 560px;
  width: 100%;
  margin: 35px auto 0;
  border: 2px dashed var(--insur-base);
  border-radius: var(--insur-bdr-radius);
  padding: 10px 0;
}

.team-one__bottom-text {
  font-weight: 500;
}

.team-one__bottom-text span {
  color: var(--insur-primary);
  font-weight: 700;
}




/*--------------------------------------------------------------
# Team Two
--------------------------------------------------------------*/
.team-two {
  padding: 0 0 90px;
}

/*--------------------------------------------------------------
# Team Page
--------------------------------------------------------------*/
.team-page {
  padding: 135px 0 70px;
}

.team-page .container {
  max-width: 1070px;
}

.team-page .row {
  --bs-gutter-x: 108px;
}

.team-page .team-one__single {
  margin-bottom: 43px;
}

/*--------------------------------------------------------------
# Team Page Carousel
--------------------------------------------------------------*/
.team-page-carousel {
  padding: 135px 0 133px;
}

/*--------------------------------------------------------------
# Team Details
--------------------------------------------------------------*/
.team-details {
  position: relative;
  display: block;
}

.team-details__top {
  position: relative;
  display: block;
  padding: 120px 0 120px;
}

.team-details__top-left {
  position: relative;
  display: block;
}

.team-details__top-img {
  position: relative;
  display: block;
  border-radius: var(--insur-bdr-radius);
}

.team-details__top-img img {
  width: 100%;
  border-radius: var(--insur-bdr-radius);
}

.team-details__big-text {
  font-size: 80px;
  line-height: 80px;
  text-transform: uppercase;
  color: var(--insur-extra);
  letter-spacing: 0.35em;
  position: absolute;
  transform: rotate(-90deg);
  top: 209px;
  left: -319px;
}

.team-details__top-right {
  position: relative;
  display: block;
  margin-left: 70px;
}

.team-details__top-content {
  position: relative;
  display: block;
  margin-top: -7px;
}

.team-details__top-name {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: var(--insur-letter-spacing);
  margin-top: 2px;
}

.team-details__top-title {
  font-size: 14px;
  color: var(--insur-gray);
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 24px;
}

.team-details__social {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 19px;
  margin-bottom: 38px;
}

.team-details__social a {
  position: relative;
  height: 43px;
  width: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  color: var(--insur-base);
  font-size: 15px;
  border-radius: 17px;
  border: 2px solid var(--insur-base);
  overflow: hidden;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 1;
}

.team-details__social a:hover {
  background-color: var(--insur-base);
  color: var(--insur-white);
}

.team-details__social a+a {
  margin-left: 10px;
}

.team-details__top-text-1 {
  font-size: 30px;
  color: var(--insur-base);
  line-height: 46px;
  letter-spacing: var(--insur-letter-spacing);
}

.team-details__top-text-2 {
  font-size: 18px;
  line-height: 34px;
  padding-top: 33px;
  padding-bottom: 35px;
  letter-spacing: var(--insur-letter-spacing);
}

.team-details__top-text-3 {
  font-size: 18px;
  line-height: 34px;
  letter-spacing: var(--insur-letter-spacing);
}

.team-details__bottom {
  position: relative;
  display: block;
  border-top: 1px solid var(--insur-bdr-color);
  padding-top: 112px;
  padding-bottom: 120px;
}

.team-details__bottom-left {
  position: relative;
  display: block;
  margin-right: 70px;
  margin-top: -2px;
}

.team-details__bottom-left-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: var(--insur-letter-spacing);
}

.team-details__bottom-left-text {
  font-size: 18px;
  line-height: 34px;
  padding-top: 30px;
  letter-spacing: var(--insur-letter-spacing);
}


.team-details__bottom-right {
  position: relative;
  display: block;
  margin-left: 70px;
}

.team-details__progress {
  position: relative;
  display: block;
  width: 100%;
}

.team-details__progress-single {
  position: relative;
  display: block;
}

.team-details__progress-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  color: var(--insur-black);
  margin-bottom: 6px;
  letter-spacing: var(--insur-letter-spacing);
}

.team-details__progress .bar {
  position: relative;
  width: 100%;
  height: 13px;
  background-color: var(--insur-extra);
  border-radius: 7px;
  margin-bottom: 12px;
}

.team-details__progress .bar-inner {
  position: relative;
  display: block;
  width: 0px;
  height: 13px;
  border-radius: 7px;
  background-color: var(--insur-primary);
  -webkit-transition: all 1500ms ease;
  transition: all 1500ms ease;
}

.team-details__progress .count-text {
  position: absolute;
  right: 0px;
  bottom: 21px;
  color: var(--insur-gray);
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  opacity: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.team-details__progress .bar-inner.counted .count-text {
  opacity: 1;
}

.team-details__progress .bar.marb-0 {
  margin-bottom: 0;
}
