@import "../generics/colors";
/*!*<!--=====================================================================================-->*!*/
/*!*<!--                         About Page                                                 -->*!*/
/*!*<!--===================================================================================-->*!*/


  
   #certificate-intro{
    background: linear-gradient(to right,rgba(black, 1.0), rgba($color-1, 0.7), rgba(0,0,0,0.2)), url("../../img/certs/contact-header.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    height: 60vh;
  width: 100%;
  color:red;
    display: flex;
    align-items: center;
    .contents{
        width:100%;
        display: flex;
        // justify-content: flex-start;
        color: $color-5;
        h1{font-size: 4rem;
            font-family: 'Roboto', sans-serif;
            font-weight:100;
        }
           p{font-size: 1.5rem;
             color:$color-3;
             font-family: 'Lora', serif;
             font-style: italic;
            }
    }
}

#message{
    padding: 3.6rem;
    .card-img-top{
       width:50%;
       margin: 5px auto;
    }
    .card-body{
      text-align:center;
    }
    .cols{
      padding-bottom: 20px;
    }
}


.certificate{
    padding: 3.5rem;
    position: relative;
    background-color: #eee;
    .h2{
      text-align: center!important;
      margin-bottom: 1.5rem;
    }
    &-box{
      //display: flex;
      .icon{
        font-size: 2.9rem;
        color:$color-2;
        text-align: center!important;
        //padding-right: .8rem;
        // width:100%;
      }
    }
    .owl-carousel .owl-item img {
    //   display: inline;
    //   width: 100%;
    }
    .owl-carousel.owl-drag .owl-item{
      padding:12px;
    }
    div.owl-nav.custom-owl-navss{
      button{
        background-color: transparent; font-size: 25px;color: #a6afb6; border:none; padding: 7px;    box-shadow: none!important;
        &:hover{
          transition:all .9s ease; color: $color-2; border:none;
        }
        &:focus{
          box-shadow: none!important;   outline: 0!important;
        }
      }//button
      .myMultipleSliderNavcustomPrevBtn,.myMultipleSliderNavcustomNextBtn{
        position: absolute; 
        top: 50%;
        transform: translateY(-50%);
        z-index: 12;
        cursor: pointer;
      }
      .myMultipleSliderNavcustomNextBtn{
      right: 3%; 
      }
      .myMultipleSliderNavcustomPrevBtn{
        left: 3%; 
        }
    }//custom-owl-nav
  }



// ========================================================================================
                      // queries
// ========================================================================================

  @media (max-width: 400px) {

    #certificate-message{
      p{font-size:.9rem;}
      padding:1rem;
      .col-md-12{padding-left: 0px; padding-right: 0;
        h2{font-size:1.2rem;}
        p.offset-2{margin-left:0; padding-right: 0; padding-left: 0px;}
      }
      .cols{
        padding-right: 0; padding-left: 0px;padding-bottom: 10px;
        .card-body{padding: .7rem;
          .card-title {margin-bottom: 0.2rem;}
        h4, .h4 {font-size: 1.2rem;text-align: center;}
        .card-text{text-align: center;}
        }
      }
    }
   
 
    





  }//end 400