
#railing-intro {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(23, 37, 42, 0.7), black), url("../../img/railing/railing-header.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    .contents {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        color: #feffff;
        h1 {
            font-size: 4rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
         }
         p {
            font-size: 1.5rem;
            color: #3aafa9;
            font-family: 'Lora', serif;
            font-style: italic; 
        }
     }

}
   
     
 #railing-message{
    padding: 3.6rem; 
    div.imgg{padding-top:50px;}
}   
.railing-images{
    padding: 3.6rem; 
    background-color: #eee;
    .inner{
        overflow: hidden;
        img{transition: all 1.9s ease;}
        &:hover img{transform: scale(1.5);}
    }

}
  
// ========================================================================================
                      // queries
// ========================================================================================

@media (max-width: 400px) {

    #railing-message{
      p.paragraph{font-size:.9rem;line-height:1.4rem;}
      padding:1rem;
      div.imgg{padding-top: 10px;}

      .col-md-6{padding-left: 0px; padding-right: 0;
        h2{font-size:1.2rem;}
        p.offset-2{margin-left:0; padding-right: 0; padding-left: 0px;}
      }
    }//#-message
    .railing-images {
        padding: 1rem 0; 
        .col-md-4{margin-bottom: 10px}
    }
}//end 400
