.cd-faq {
    position: relative;
    margin: 4em auto;
    box-shadow: none;
    
    .cd-faq-group {
        display: block;
     .cd-faq-title{margin-bottom: 5px}
        .body-part{ 
            background: $bg-3;
             // display: block;
            padding: 10px 10px;
        }
      }
    
    .storage-caption{
        margin-top: 70px;;
        background: $bg-1;
      padding:15px 20px;
        h5{margin-bottom: 10px;
            border-left: transparent;

    font-size: 22px; 
    color: $color-4;
    font-style: italic;
    line-height: 30px;
    font-weight: 500;
        
        }
    }
}



// #storage-hero{
//     background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/storage/bg.jpg") no-repeat;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
//     height: 90vh;
//     width: 100%;
//     display: flex;
//     align-items: center; 
// }

// #storage-page,#storage-page2{
//     padding: 80px 0; 
//     .heading_logistic.heading_space{
//         margin-bottom: 50px;
      
//     }
//       .content{
//             // padding: 14px 5px; 
          
//             margin-bottom: 10px;
//             h3{font-size: 25px;color: #fb2415;margin-bottom: 10px}
//           p{line-height: 24px}
//           p.sub-t{margin: 10px 0 5px 0; font-weight: 700;font-size: 17px}
//             p.plist-head{
//                 font-weight: 700;margin-top: 10px;margin-bottom: 5px
//             }
//             p.plist{
//                 .fa{color: #fb2415; margin-right: 8px}
//             }
//     } 
//     p{a{color: red;font-weight: bold}}
      
// }
// #storage-page2{padding: 50px 0 80px 0;background: rgba(238,238,238,.4)}





//==============================================================
//===============================================================
//               responsive                                  
//==============================================================
//================================================================

// @media (min-width: 320px) and (max-width: 500px) {
//     #storage-hero{
//       background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/storage/bg-350-500.jpg") no-repeat ;
//       -webkit-background-size: cover;
//       -moz-background-size: cover;
//       -o-background-size: cover;
//       background-size: cover;
//       height: 35vh;

//       .inner-banner-detail{
//           margin-top: 40px;
//           h2{
//               font-size: 16px;
//           }
//             }    
//     .inner-banner-detail > p {
//         padding-bottom: 0px;
//     }


//      }

//      #storage-page,#storage-page2{
//         padding: 20px 0; 
//         .heading_logistic.heading_space{
//             text-align: center;
//             margin-bottom: 20px;
//             h2{margin-top: 7px;font-size: 20px;text-align: center}
          
//         }
//         .heading_logistic .border::before {
            
//                 width: 80%;
//                     left: 50%;
//                     transform: translatex(-50%);
//                 margin-top: -2px;
//                     // margin: auto;
//             }
//           .content{
//                 padding: 14px 0px 0; 
//               text-align: center;
//                 margin-bottom: 10px;
//                 h3{font-size: 25px;color: #fb2415;margin-bottom: 10px}
//               p{line-height: 24px}
//               p.sub-t{margin: 10px 0 5px 0; font-weight: 700;font-size: 17px}
//                 p.plist-head{
//                     font-weight: 700;margin-top: 10px;margin-bottom: 5px
//                 }
//                 p.plist{
//                     .fa{color: #fb2415; margin-right: 8px}
//                 }
//         } 
//         p{a{color: red;font-weight: bold}}
          
//     }
//     #storage-page2{padding: 20px 0 20px 0;background: rgba(238,238,238,.4)}
    

//     }

