
/*--------------------------------------------------------------
# Navigations Three
--------------------------------------------------------------*/
.main-header-three {
    position: relative;
    display: block;
  }
  
  .main-menu-three__wrapper {
    position: relative;
    display: block;
  }
  
  .main-menu-three__wrapper-inner {
    display: block;
  }
  
  .main-menu-three__left {
    display: block;
    float: left;
  }
  
  .main-menu-three__logo {
    display: block;
    float: left;
    padding: 41px 0;
    padding-right: 170px;
  }
  
  .main-menu-three__main-menu-box {
    display: block;
    float: left;
  }
  
  .main-menu-three__right {
    display: block;
    float: right;
  }
  
  .main-menu-three__search-get-quote-btn {
    position: relative;
    display: flex;
    align-items: center;
    padding: 30px 0;
  }
  
  .main-menu-three__search-box {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 15px 0;
  }
  
  .main-menu-three__search-box:before {
    position: absolute;
    top: 10px;
    left: -20px;
    bottom: 10px;
    content: "";
    width: 1px;
    background-color: var(--insur-bdr-color);
  }
  
  .main-menu-three__search {
    font-size: 20px;
    color: var(--insur-black);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .main-menu-three__search:hover {
    color: var(--insur-base);
  }
  
  .main-menu-three__get-quote-btn {
    font-size: 14px;
    padding: 12px 30px 12px;
  }
  
  .main-menu-three .main-menu__list>li,
  .stricky-header.main-menu-three .main-menu__list>li {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  
  .main-menu-three .main-menu__list>li+li,
  .stricky-header.main-menu-three .main-menu__list>li+li {
    margin-left: 50px;
  }
  
  .main-menu-three .main-menu__list>li>ul,
  .main-menu-three .main-menu__list>li>ul>li>ul,
  .stricky-header.main-menu-three .main-menu__list>li>ul,
  .stricky-header.main-menu-three .main-menu__list>li>ul>li>ul {
    top: 100%;
  }
  
  .main-menu-three .main-menu__list>li>a::before,
  .stricky-header.main-menu-three .main-menu__list>li>a::before {
    display: none;
  }
  