
/*--------------------------------------------------------------
# News Two
--------------------------------------------------------------*/
.news-two {
  position: relative;
  display: block;
  padding: 120px 0 90px;
}

.news-two .section-sub-title-box {
  margin-left: 0;
}

.news-two__single {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.news-two__img {
  position: relative;
  display: block;
  border-top-left-radius: var(--insur-bdr-radius);
  border-top-right-radius: var(--insur-bdr-radius);
  overflow: hidden;
  z-index: 1;
}

.news-two__img:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-left-radius: var(--insur-bdr-radius);
  border-top-right-radius: var(--insur-bdr-radius);
  background-color: rgba(var(--insur-black-rgb), .50);
  -webkit-transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
  transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease, -webkit-transform 500ms ease;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-70%);
  transform: translateY(-70%);
  z-index: 1;
}

.news-two__single:hover .news-two__img:before {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}

.news-two__img img {
  width: 100%;
  border-top-left-radius: var(--insur-bdr-radius);
  border-top-right-radius: var(--insur-bdr-radius);
  transition: all 500ms ease;
}

.news-two__single:hover .news-two__img img {
  transform: scale(1.05);
}

.news-two__arrow-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.news-two__arrow {
  height: 50px;
  width: 50px;
  border: 2px solid var(--insur-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--insur-white);
  font-size: 15px;
  opacity: 0;
  transform: translateY(70px);
  transition: all 500ms ease;
}

.news-two__single:hover .news-two__arrow {
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 500ms;
}

.news-two__arrow:hover {
  border: 2px solid var(--insur-primary);
  color: var(--insur-primary);
}

.news-two__content {
  position: relative;
  display: block;
  border-bottom-left-radius: var(--insur-bdr-radius);
  border-bottom-right-radius: var(--insur-bdr-radius);
  border: 1px solid var(--insur-bdr-color);
  background-color: var(--insur-white);
  border-top: 0;
  padding: 33px 40px 40px;
  transition: all 500ms ease;
}

.news-two__single:hover .news-two__content {
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
}

.news-two__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: var(--insur-letter-spacing);
  margin-bottom: 23px;
}

.news-two__title a {
  color: var(--insur-black);
  transition: all 500ms ease;
}

.news-two__single:hover .news-two__title a {
  color: var(--insur-base);
}

.news-two__client {
  position: relative;
  display: flex;
  align-items: center;
}

.news-two__client-img {
  position: relative;
  display: inline-block;
}

.news-two__client-img img {
  border: 2px solid var(--insur-primary);
  border-radius: 50%;
}

.news-two__client-content {
  margin-left: 15px;
}

.news-two__client-content p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: var(--insur-letter-spacing);
  line-height: 24px;
}

.news-two__client-content h5 {
  font-size: 14px;
  color: var(--insur-base);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 24px;
}

.news-two__tag {
  position: absolute;
  top: -20px;
  right: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
  padding: 14px 20px;
  border-radius: var(--insur-bdr-radius);
  z-index: 2;
}

.news-two__tag p {
  font-size: 12px;
  color: var(--insur-black);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 12px;
}

.news-two__tag p i {
  font-size: 12px;
  padding-right: 3px;
}