/*--------------------------------------------------------------
# Why Choose One
--------------------------------------------------------------*/
.why-choose-one {
  position: relative;
  display: block;
  background-color: var(--insur-black);
  padding: 120px 0 110px;
  overflow: hidden;
  z-index: 1;
}

.why-choose-one-shape-1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.02;
  z-index: -1;
}

.why-choose-one-shape-2 {
  position: absolute;
  right: 596px;
  top: -215px;
  z-index: 2;
}

.why-choose-one-shape-2 img {
  width: auto;
}

.why-choose-one-shape-3 {
  position: absolute;
  top: -260px;
  right: 150px;
}

.why-choose-one-shape-3 img {
  width: auto;
}

.why-choose-one-shape-4 {
  position: absolute;
  top: -81px;
  right: 0;
}

.why-choose-one-shape-4 img {
  width: auto;
}

.why-choose-one-shape-5 {
  position: absolute;
  bottom: -215px;
  right: 0;
  z-index: 1;
}

.why-choose-one-shape-5 img {
  width: auto;
}

.why-choose-one-shape-6 {
  position: absolute;
  bottom: -295px;
  right: 160px;
}

.why-choose-one-shape-6 img {
  width: auto;
}

.why-choose-one-img {
  // position: absolute;
  // top: -111px;
  // bottom: 0;
  // right: 0;
  // z-index: 3;

  position: absolute;
    top: 86px;
    bottom: 0;
    right: 240px;
    z-index: 3;
}

.why-choose-one-img img {
  // width: auto;
  border-radius: 50%;
    // z-index: -4;
    /* border-color: red!important; */
    border: 10px #0ce0ff solid;
}

.why-choose-one__left {
  position: relative;
  display: block;
}

.why-choose-one__left .section-title {
  margin-bottom: 31px;
}

.why-choose-one__left .section-sub-title {
  color: var(--insur-white);
}

.why-choose-one__left .section-title__title {
  color: var(--insur-white);
}

.why-choose-one__text {
  color: #97a2b7;
  line-height: 28px;
  letter-spacing: var(--insur-letter-spacing);
}

.why-choose-one__list-box {
  position: relative;
  display: block;
  max-width: 510px;
  width: 100%;
  margin-top: 31px;
}

.why-choose-one__list {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.why-choose-one__list li {
  position: relative;
  flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.why-choose-one__single {
  position: relative;
  display: block;
  background-color: #111d32;
  padding: 35px 20px 32px;
  overflow: hidden;
}

.why-choose-one__list-icon {
  position: relative;
  display: block;
  margin-bottom: 9px;
}

.why-choose-one__list-icon span {
  font-size: 45px;
  color: var(--insur-primary);
  position: relative;
  display: inline-block;
  transition: all 500ms linear;
  transition-delay: 0.1s;
  transform: scale(1);
}

.why-choose-one__single:hover .why-choose-one__list-icon span {
  transform: scale(.9);
}

.why-choose-one__list-title-box {
  position: relative;
  display: block;
}

.why-choose-one__list-title-inner {
  position: relative;
  display: block;
  transform: translateY(0%);
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
  visibility: visible;
  opacity: 1;
}

.why-choose-one__single:hover .why-choose-one__list-title-inner {
  transform: translateY(100px);
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
  visibility: hidden;
  opacity: 0;
}

.why-choose-one__list-title {
  font-size: 18px;
  color: var(--insur-white);
  line-height: 28px;
  letter-spacing: var(--insur-letter-spacing);
}

.why-choose-one__list-text-box {
  position: absolute;
  top: -6px;
  left: 0;
  right: 0;
  transform: translateY(-100px);
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
  visibility: hidden;
  opacity: 0;
}

.why-choose-one__single:hover .why-choose-one__list-text-box {
  visibility: visible;
  transform: translateY(0%);
  opacity: 1;
}

.why-choose-one__list-text {
  font-size: 14px;
  color: #97a2b7;
  line-height: 24px;
  letter-spacing: var(--insur-letter-spacing);
}



/*--------------------------------------------------------------
# Why Choose Two
--------------------------------------------------------------*/
.why-choose-two {
  position: relative;
  display: block;
  padding: 120px 0 107px;
}

.why-choose-two__left {
  position: relative;
  display: block;
  margin-right: -23px;
}

.why-choose-two__left .section-title {
  margin-bottom: 27px;
}

.why-choose-two__text {
  font-size: 18px;
  line-height: 34px;
  letter-spacing: var(--insur-letter-spacing);
}

.why-choose-two__right {
  position: relative;
  display: block;
  margin-left: 60px;
}

.why-choose-two__list-box {
  position: relative;
  display: block;
  max-width: 510px;
  width: 100%;
}

.why-choose-two__list {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.why-choose-two__list li {
  position: relative;
  flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.why-choose-two__single {
  position: relative;
  display: block;
  padding: 35px 20px 27px;
  border: 2px solid var(--insur-bdr-color);
  overflow: hidden;
}

.why-choose-two__list-icon {
  position: relative;
  display: block;
  margin-bottom: 9px;
}

.why-choose-two__list-icon span {
  font-size: 45px;
  color: var(--insur-base);
  position: relative;
  display: inline-block;
  transition: all 500ms linear;
  transition-delay: 0.1s;
  transform: scale(1);
}

.why-choose-two__single:hover .why-choose-two__list-icon span {
  transform: scale(.9);
}

.why-choose-two__list-title-box {
  position: relative;
  display: block;
}

.why-choose-two__list-title-inner {
  position: relative;
  display: block;
  transform: translateY(0%);
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
  visibility: visible;
  opacity: 1;
}

.why-choose-two__single:hover .why-choose-two__list-title-inner {
  transform: translateY(100px);
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
  visibility: hidden;
  opacity: 0;
}

.why-choose-two__list-title {
  font-size: 18px;
  color: var(--insur-black);
  line-height: 28px;
  letter-spacing: var(--insur-letter-spacing);
}

.why-choose-two__list-text-box {
  position: absolute;
  top: -6px;
  left: 0;
  right: 0;
  transform: translateY(-100px);
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
  visibility: hidden;
  opacity: 0;
}

.why-choose-two__single:hover .why-choose-two__list-text-box {
  visibility: visible;
  transform: translateY(0%);
  opacity: 1;
}

.why-choose-two__list-text {
  font-size: 14px;
  color: var(--insur-gray);
  line-height: 24px;
  letter-spacing: var(--insur-letter-spacing);
}